appdirs==1.4.3
asgiref==1.1.1
asn1crypto==0.22.0
attrs==16.3.0
autobahn==0.18.2
Automat==0.5.0
backports-abc==0.5
certifi==2017.4.17
cffi==1.10.0
channels==1.1.3
constantly==15.1.0
cryptography==1.8.1
daphne==1.2.0
Django==1.11
django-channels==0.7.0
enum34==1.1.6
futures==3.1.1
graphviz==0.6
html5lib==1.0b10
idna==2.5
incremental==16.10.1
ipaddress==1.0.18
kerberos==1.2.5
mutagen==1.37
oauthlib==2.0.2
olefile==0.44
packaging==16.8
Pillow==4.1.1
pyasn1==0.2.3
pyasn1-modules==0.0.8
pycallgraph==1.0.1
pycparser==2.17
pyOpenSSL==17.0.0
pyparsing==2.2.0
pytz==2017.2
requests==2.13.0
requests-oauthlib==0.8.0
service-identity==16.0.0
singledispatch==3.4.0.3
six==1.10.0
tornado==4.5.1
Twisted==17.1.0
txaio==2.7.0
typing==3.6.1
webencodings==0.5.1
zope.interface==4.4.0
